@font-face {
  font-family: "FaktumRegular";
  src: url('/fonts/Faktum.woff2') format('woff');
}
@font-face {
  font-family: "PretendardVariable";
  src: url('/fonts/PretendardVariable.woff2') format('woff');
}
body {
  padding: 0;
  margin: 0;
  font-family: "FaktumRegular", "PretendardVariable", sans-serif;
}
